{%extends 'base.html'%}
{%load static%}
{%block content%}
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md-6">
                    <div class="breadcumb-text">
                        <h2>Crypto Guide</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcumb Thumb Area -->
        <div class="breadcumb-thumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcumb-thumb">
                            <img src="img/bg-img/breadcumb.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### About Area Start ##### -->
    <section class="cryptos-about-area section-padding-100-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="about-thumbnail mb-100">
                        <img src="img/bg-img/about.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="about-content mb-100">
                        <div class="section-heading">
                            <h3><span>About</span> Us</h3>
                            <h5>As we all know kucoin exchange is one of the world leading cryptocurrency exchange which has been in existence for years and consistently delivering quality cryptocurrency trading experiences and services to its robust customers, partners, members and investors. Ku-mining also known as Kucoin mining exchange is the latest kucoin exchange features that prioritizes on cryptocurrency mining Investment terms, using a team of expert, artificial intelligence and high frequency mining technologies to mine cryptos,generate profit and share dividends among investors according to your investment.</h5>
                            <h5>Investing to mine cryptos in our mining department is one of the surest ways to becoming financially secured and free, kucoin have grown over the years by keeping our words and delivering our services deligently.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Area End ##### -->

    <div class="cryptos-guide-line section-padding-100 bg-img bg-overlay" style="background-image: url(img/bg-img/bg-3.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="section-heading white">
                        <h3 class="mb-4">Simple guide to buy <span>Cryptocurrencies</span></h3>
                        <h5 class="mb-2">Identify the exchange you want to use, register it and verify, you can then buy crypto directly fromyour account if your country permit if it doesn't you can use the peer-to-peer trading in kucoin or binance USDT then buy crypto of your choice.</h5>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="guideline-content">
                        <!-- Single Step -->
                        <div class="single-step d-flex">
                            <div class="quantity">01</div>
                            <div class="step-content">
                                <h6>How TO Deposit</h6>
                                <p>after careful registrations and verifications you can the proceed to use any exchange of your choice to send your investment funds to the wallet provided in the deposit area of your user profile.</p>
                            </div>
                        </div>
                        <!-- Single Step -->
                        <div class="single-step d-flex">
                            <div class="quantity">02</div>
                            <div class="step-content">
                                <h6>How To Withdraw</h6>
                                <p>Our withdrawal payment is prompt and timely after careful verifictions, all you need to do is to paste your wallet address in the withdrawal area after inserting the amount you wish to withdraw.</p>
                            </div>
                        </div>
                        <!-- Single Step -->
                        <div class="single-step d-flex">
                            <div class="quantity">03</div>
                            <div class="step-content">
                                <h6>Our Games</h6>
                                <p>We also have some fun games to play and win in your user dashboard</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="guideline-thumb">
                        <img src="img/bg-img/bg-4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### About Area Start ##### -->
    <section class="cryptos-video-area section-padding-100-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="about-content mb-100">
                        <div class="section-heading">
                            <h3>The begginer’s guide to <span>Crypto</span></h3>
                            <h5>Identify the exchange you want to use, register it and verify, you can then buy crypto directly fromyour account if your country permit if it doesn't you can use the peer-to-peer trading in kucoin or binance USDT then buy crypto of your choice.</h5>
                            <h5> you can then buy crypto directly fromyour account if your country permit if it doesn't you can use the peer-to-peer trading in kucoin or binance USDT then buy crypto of your choice. </h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="video-area mb-100">
                        <img src="img/bg-img/bg-4.jpg" alt="">
                        <div class="video-btn">
                            <a href="https://www.youtube.com/watch?v=f5BBJ4ySgpo" class="videobtn"><img src="img/bg-img/video-btn.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Area End ##### -->
 
    {%endblock content%}