{%extends 'base.html'%}
{%load static%}
{%block content%}
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md-6">
                    <div class="breadcumb-text">
                        <h2>Crypto News</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcumb Thumb Area -->
        <div class="breadcumb-thumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcumb-thumb">
                            <img src="img/bg-img/breadcumb.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="cryptos-blog-posts">
                        <div class="row">

                            <!-- Single Blog Area -->
                            <div class="col-12">
                                <div class="single-blog-area blog-style-2 mb-100">
                                    <!-- Thumbnail -->
                                    <div class="blog-thumbnail">
                                        <img src="img/blog-img/blog1.jpg" alt="">
                                    </div>
                                    <!-- Content -->
                                    <div class="blog-content">
                                        <a href="https://news.bitcoin.com/bitcoin-miners-take-in-bear-rally-profits-by-selling-more-than-6000-btc-since-august-1/" class="post-title">This will shake the markey</a>
                                        <div class="meta-data">
                                            <a href="#">Crypto News</a> |
                                            <a href="#">March 18, 2018</a>
                                        </div>
                                        <p>Bitcoin Miners Take in Bear Rally Profits by Selling More Than 6,000 BTC Since August 1</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="blog-section-heading">
                                    <h3>Today’s News</h3>
                                </div>
                            </div>

                            <div class="col-12">

                                <!-- Single Blog Area -->
                                <div class="single-blog-area d-flex align-items-start">
                                    <!-- Thumbnail -->
                                    <div class="blog-thumbnail">
                                        <img src="img/blog-img/1.jpg" alt="">
                                    </div>
                                    <!-- Content -->
                                    <div class="blog-content">
                                        <a href="https://news.bitcoin.com/bitcoin-ethereum-technical-analysis-btc-plunges-below-22000-while-eth-nears-10-day-low/" class="post-title">Bitcoin, Ethereum Technical Analysis</a>
                                        <div class="meta-data">
                                            <a href="#">Crypto News</a> |
                                            <a href="#">october 26, 2020</a>
                                        </div>
                                        <p>Bitcoin, Ethereum Technical Analysis: BTC Plunges Below $22,000, While ETH Nears 10-Day Low</p>
                                    </div>
                                </div>

                                <!-- Single Blog Area -->
                                <div class="single-blog-area d-flex align-items-start">
                                    <!-- Thumbnail -->
                                    <div class="blog-thumbnail">
                                        <img src="img/blog-img/2.jpg" alt="">
                                    </div>
                                    <!-- Content -->
                                    <div class="blog-content">
                                        <a href="https://www.cnbc.com/2022/08/18/this-3point8-billion-hedge-fund-is-shaking-up-the-industry-with-its-pay-for-performance-model.html" class="post-title">New Hedge Funds invests in Crypto</a>
                                        <div class="meta-data">
                                            <a href="#">Crypto News</a> |
                                            <a href="#">january 10, 2022</a>
                                        </div>
                                        <p>This $3.8 billion hedge fund is shaking up the industry with its pay-for-performance model</p>
                                    </div>
                                </div>

                                <!-- Single Blog Area -->
                                <div class="single-blog-area d-flex align-items-start">
                                    <!-- Thumbnail -->
                                    <div class="blog-thumbnail">
                                        <img src="img/blog-img/3.jpg" alt="">
                                    </div>
                                    <!-- Content -->
                                    <div class="blog-content">
                                        <a href="https://news.bitcoin.com/the-central-bank-of-colombia-is-studying-the-creation-of-a-digital-currency/" class="post-title">This will Disrupt the Market</a>
                                        <div class="meta-data">
                                            <a href="#">Crypto News</a> |
                                            <a href="#">December 18, 2021</a>
                                        </div>
                                        <p>The Central Bank of Colombia Is Studying the Creation of a Digital Currency</p>
                                    </div>
                                </div>

                                <!-- Single Blog Area -->
                                <div class="single-blog-area d-flex align-items-start">
                                    <!-- Thumbnail -->
                                    <div class="blog-thumbnail">
                                        <img src="img/blog-img/4.jpg" alt="">
                                    </div>
                                    <!-- Content -->
                                    <div class="blog-content">
                                        <a href="https://news.bitcoin.com/electricity-consumption-of-russian-crypto-miners-spikes-20-times-in-5-years-research-finds/" class="post-title">Electricity Consumption of Russian Crypto Miners Spikes 20 Times in 5 Years</a>
                                        <div class="meta-data">
                                            <a href="#">Crypto News</a> |
                                            <a href="#">March 5, 2021</a>
                                        </div>
                                        <p>Electricity Consumption of Russian Crypto Miners Spikes 20 Times in 5 Years, Research Finds.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="cryptos-blog-sidebar-area">

                        <!-- Section Heading -->
                        <div class="blog-section-heading mb-50">
                            <h3>Recent News</h3>
                        </div>

                        <div class="single-blog-area blog-style-2 mb-50">
                            <!-- Thumbnail -->
                            <div class="blog-thumbnail">
                                <img src="img/blog-img/blog3.jpg" alt="">
                            </div>
                            <!-- Content -->
                            <div class="blog-content">
                                <a href="https://www.kucoin.com/news/en-kucoin-futures-3rd-anniversary-warm-up-10000-bonus-packs" class="post-title">Kucoin news</a>
                                <div class="meta-data">
                                    <a href="#">Crypto News</a> |
                                    <a href="#">August 18, 2022</a>
                                </div>
                                <p>KuCoin Futures 3rd Anniversary Warm-Up: 10,000 Bonus Packs! Up to 100 USDT for New Futures Traders!.</p>
                            </div>
                        </div>

                        <div class="single-blog-area blog-style-2 mb-100">
                            <!-- Thumbnail -->
                            <div class="blog-thumbnail">
                                <img src="img/blog-img/blog4.jpg" alt="">
                            </div>
                            <!-- Content -->
                            <div class="blog-content">
                                <a href="https://www.bloomberg.com/news/articles/2022-08-20/how-to-beat-hedge-funds-at-their-game-according-to-baupost-alum" class="post-title">Bloomberg News</a>
                                <div class="meta-data">
                                    <a href="#">Crypto News</a> |
                                    <a href="#">March 18, 2022</a>
                                </div>
                                <p>How to Beat Hedge Funds at Their Game, According to Baupost Alum</p>
                            </div>
                        </div>

                        <!-- Section Heading -->
                        <div class="blog-section-heading mb-50">
                            <h3>Trending Posts</h3>
                        </div>

                        <!-- Single Blog Area -->
                        <div class="single-blog-area blog-style-3 d-flex align-items-center mb-15">
                            <!-- Thumbnail -->
                            <div class="blog-thumbnail">
                                <img src="img/blog-img/5.jpg" alt="">
                            </div>
                            <!-- Content -->
                            <div class="blog-content">
                                <a href="fool.com/the-ascent/cryptocurrency/articles/7-facts-about-bitcoin-that-will-surprise-you/" class="post-title">FunFacts about Bitcoin</a>
                                <div class="meta-data">
                                    <a href="#">July 15, 2019</a>
                                </div>
                            </div>
                        </div>

                        <!-- Single Blog Area -->
                        <div class="single-blog-area blog-style-3 d-flex align-items-center mb-15">
                            <!-- Thumbnail -->
                            <div class="blog-thumbnail">
                                <img src="img/blog-img/6.jpg" alt="">
                            </div>
                            <!-- Content -->
                            <div class="blog-content">
                                <a href="thetimes.co.uk/money-mentor/article/crypto-tips-mistakes/" class="post-title">BLockchain tips</a>
                                <div class="meta-data">
                                    <a href="#">March 18, 2018</a>
                                </div>
                            </div>
                        </div>

                        <!-- Single Blog Area -->
                        <div class="single-blog-area blog-style-3 d-flex align-items-center mb-15">
                            <!-- Thumbnail -->
                            <div class="blog-thumbnail">
                                <img src="img/blog-img/7.jpg" alt="">
                            </div>
                            <!-- Content -->
                            <div class="blog-content">
                                <a href="https://cryptopotato.com/crypto-price-analysis-august-19-ethereum-ripple-cardano-binance-coin-and-dogecoin/" class="post-title">August Price Analisys</a>
                                <div class="meta-data">
                                    <a href="#">August 1 2022, 2018</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {%endblock content%}