{%extends 'base2.html'%}
{%load static%}
{%block content%}    
<div class="page-wrapper">


<!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-5 align-self-center">
                        <h4 class="page-title">Coin Trade </h4>
                        <div class="d-flex align-items-center">

                        </div>
                    </div>
                    <div class="col-7 align-self-center">
                        <div class="d-flex no-block justify-content-end align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Trade</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12 m-t-30">
                        <h4 class="m-b-0">Enter a coin trade</h4>
                        <p class="text-muted m-t-0 font-12">You can quickly enter our <code>Open Market</code> Coin trade and start earning in %.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">BITCOIN</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="{%url 'make_trade' 'bitcoin' %}" class="btn btn-info">Join Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="card-body">
                                <h4 class="card-title">LITECOIN</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="{%url 'make_trade' 'litecoin' %}" class="btn btn-primary">Join Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">ETHEREUM</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="{%url 'make_trade' 'Etherium' %}" class="btn btn-info">Join Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="card-body">
                                <h4 class="card-title">DOGECOIN</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="{%url 'make_trade' 'Dogecoin' %}" class="btn btn-primary">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    
  {%endblock content %}